body {
  /* font-size: 16px; */
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/the-road.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* font-weight: 300; */
}



.wrap {
  /* position: relative; */
  margin: auto;
  margin-top: 100px;
  max-width: 350px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
/* background: rgba(0, 0, 0, 0.4); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box {
  position: absolute;
  top: 0;
  right: auto;
  text-align: center;
  padding: 10%;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}
img{
/* top:0; */
  padding: 5%;
  width: 100%;
  height: 120px;
}

.form-control {
  margin-bottom: 20px;
}
.wrap p{
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.reg-btn{
  margin-left: 75px;
}
